<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-content padding>
<form [formGroup]="todo" (ngSubmit)="logForm()">
  <ion-item>
    <ion-input type="text" placeholder="example@test.com" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="tel" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
  <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
</form>
</ion-content> -->
<ion-content padding>

  <div id="logo" padding text-center>
    <img src="./assets/img/logo.png">
  </div>

  <div padding>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="loginFormTrue" value="signin" color="light">
      <ion-segment-button value="signin" >
        Sign In
      </ion-segment-button>
      <ion-segment-button value="signup">
        Sign Up
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="loginFormTrue == 'signin'">
    <form (submit)="Login()" [formGroup]="todo">

      <ion-input type="email" placeholder="Example@gmail.com" formControlName="email" name="email"></ion-input>
      <ion-input type="password" placeholder="Password" formControlName="password" name="password"></ion-input>
      <div padding text-center>
        <button ion-button round color="light" icon-right>SIGNIN<ion-icon name="log-in"></ion-icon>
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="loginFormTrue == 'signup'">
    <form (submit)="RegisterStore()" [formGroup]="register">

      <ion-input type="email" placeholder="Example@gmail.com" formControlName="email" name="email"></ion-input>
      <ion-input type="password" placeholder="Password" formControlName="password" name="password"></ion-input>
      <ion-input type="password" placeholder="Confirm Password" formControlName="re_password" name="re_password"></ion-input>
      <div padding text-center>
        <button ion-button round color="light" icon-right>SIGNUP<ion-icon name="log-in"></ion-icon>
        </button>
      </div>
    </form>
  </div>
</ion-content>