<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>message</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>Send To...</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-input type="text" placeholder="some text" ></ion-input>
    <!-- <p>Ash, Misty, Brock</p> -->
    <ion-buttons end>
      <button ion-button icon-end color="royal">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-end color="royal" (click)="opencamera()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>