<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form [formGroup]="todo" (ngSubmit)="logForm()">
  <ion-item>
    <!-- <ion-label>Todo</ion-label> -->
    <ion-input type="text" placeholder="User Name" formControlName="username"></ion-input>
  </ion-item>
  <ion-item>
    <!-- <ion-label>Description</ion-label> -->
    <ion-input type="tel" placeholder="Mobile" formControlName="mobile"></ion-input>
  </ion-item>
  <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
</form>
</ion-content>
