<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="signlogout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="contactpagesebt()">
          <ion-icon name="person-add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <button ion-item *ngFor="let item of items_list" (click)="messagepagepassing(item)">
    {{ item.mobile }}
  </button>
</ion-list>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
  <ion-buttons end >
    <button ion-button icon-only color="royal" (click)="contactpagesebt()">
      <ion-icon name="person-add"></ion-icon>
    </button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer> -->